*{
    margin: 0;
    padding: 0%;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #ccc;
}
.foot{
    /* width: 100%;
    position: absolute;
    bottom: 0; */
    background: linear-gradient(to right, #00093c, #2d0b00);
    color:rgb(246, 247, 247);
    padding: 30px 0 10px;
    font-size: 13px;
    line-height: 20px;
}

.foot .rows{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.foot .rows .cols
{
    flex-basis :25%;
    padding: 10px;
}
.foot .rows .cols :nth-child(2) , .col :nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;  
}
.foot .rows .cols h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid silver;
    margin: 15px 0
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid silver;
    margin-bottom: 50px;
}
form input{
    width: 100%;
    background: transparent;
    color:black;
    border:0;
    outline: none;
}
.social_media .bi{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 15px;

}
.apps_icons .bi{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 15px;

}

@media (max-width: 700px){
    footer{
        bottom:unset
    }
    .foot .rows .cols
{
    flex-basis :100%;
    
}
.foot .rows .cols :nth-child(2) , .col :nth-child(3){
    flex-basis: 100%;
}
}